$white-bg: #ffffff;
$gray-bg: #f6f6f6;
$dark-color: #232323;
$theme-color: #ffce3e;



.main-menu {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
		display: inline-block;
		a {
			color: $theme-color;
		}
	}
}
.tt {
	margin: 0;
}